* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
}

:root {
    scroll-behavior: smooth;
    --blue : #2e74d1;
    --orange : #e6a340;
}

.hero-logo {
    width: 90px;
}

.container {
    width: 100%;
    max-width: 3200px;
    margin: 0 auto;
    padding: 80px 0 ;
}

.container-hero {
    padding: 0;
}


.nav {
    display: flex;
    align-items: center;
    background-color: #e6a340;
    justify-content: space-between;
    position: fixed;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-links {
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;
    font-size: 11px;
    font-weight: 600;
}


.hero-main {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.main-img {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px 0;
}

.hero-text {
    display: grid;
    gap: 10px;
    text-align: center;
    padding-bottom: 60px;
}

.hero-title {
    font-size: 50px;
}

.hero-paragraph {
    line-height: 1.5rem;
    font-weight: 200;
    margin-bottom: .5rem;
}

.boton-hero {
    text-decoration: none;
    color: white;
    background-color: #2e74d1;
    border-radius: 5px;
    padding: 1rem 3rem;
    justify-self: center;
}


/* seccion servicio */

.serv {
    display: grid;
    gap: 10px;
    text-align: center;
    padding-bottom: 90px;
}

.serv-title {
    margin-top: 90px;
    padding-bottom: 40px;
}

.curso1{
    max-width: 320px;
    align-items: center;
    border-color: #e6a340;
    border-style: solid;
    border-width: 4px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



.c1-img {
    display: block;
    width: 90%;
    width: 100px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.c1 {
    font-size: 10px;
    display: grid;
    gap: 10px;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}

.desc-curso1 p {
    font-size: 11px;
    font-weight: 600;
    padding: 10px;
    text-align: justify;
    color: #e6a340;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.curso2{
    max-width: 320px;
    align-items: center;
    border-color: #1f1297;
    border-style: solid;
    border-width: 4px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



.c2-img {
    display: block;
    width: 90%;
    width: 98px;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 0;
}

.c2 {
    font-size: 10px;
    display: grid;
    gap: 10px;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}

.desc-curso2 p {
    font-size: 11px;
    font-weight: 600;
    padding: 10px;
    text-align: justify;
    color: #1a4fe0;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contactos h2 {
    margin-top: 130px;
    display: grid;
    gap: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.formulario {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.form {
    margin-bottom: 10px;
    border-color: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 1rem 3rem;
}

.envio {
    margin-top: 10px;
    border-color: rgb(212, 212, 212);
    border-width: 0;
    border-radius: 5px;
    background-color: #e6a340;
    padding: 1rem 2rem;
    color: aliceblue;
    font-weight: 600;
}








